<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <title>JHat</title>
    <link rel="stylesheet" href="./styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>
    <div id="vue">
      <div id="header">
        <div class="left"></div>
        <div class="center">JHat</div>
        <div class="right">
          <span v-if="clientProfile.userName !== undefined">{{ clientProfile.userName }}</span>
        </div>
      </div>
      <!-- loginScreen -->
      <div id="logInScreen" class="screen" v-if="currentMode === 'logIn'">
        <div v-on:click="submitNiklasFlaigLogin()"> <!-- this button is temporary -->
          <h2 class="heading">Log in!</h2>
        </div>
        <div class="inputs">
          <div class="tabMenu">
            <div class="active">LogIn</div>
            <div class="notActive" v-on:click="changeMode('register')">Register</div>
          </div>
          <label>
            UserName:
            <input type="text" v-model="userName" placeholder="Enter Username..."/>
            <span class="errMsg" v-if="userNameErr !== ''">{{ userNameErr }}</span>
          </label>
          <label>
            PassWord:
            <input type="text" v-model="password" v-on:keyup.enter="submitLogin()" placeholder="Enter PassWord..."/>
            <span class="errMsg" v-if="passwordErr !== ''">{{ passwordErr }}</span>
          </label>
          <button v-on:click="submitLogin()" class="primary_button">Enter</button>
        </div>
      </div>

      <!-- register screen -->
      <div id="registerScreen" class="screen" v-if="currentMode === 'register'">
        <h2 class="heading">Create a new account!</h2>
        <div class="inputs">
          <div class="tabMenu">
            <div class="notActive" v-on:click="changeMode('logIn')">LogIn</div>
            <div class="active">Register</div>
          </div>
          <label>
            UserName:
            <input type="text" v-model="userName" placeholder="Enter Username..."/>
            <span class="errMsg" v-if="userNameErr !== ''">{{ userNameErr }}</span>
          </label>
          <label>
            PassWord:
            <input type="text" v-model="password" placeholder="Enter PassWord..."/>
            <span class="errMsg" v-if="passwordErr !== ''">{{ passwordErr }}</span>
          </label>
          <label>
            PassWord (repeat):
            <input type="text" v-model="repeatPassword" v-on:keyup.enter="submitRegister()" placeholder="Repeat Password..."/>
            <span class="errMsg" v-if="repeatPasswordErr !== ''">{{ repeatPasswordErr }}</span>
          </label>
          <button v-on:click="submitRegister()" class="primary_button">Enter</button>
        </div>
      </div>
      
      <div id="chat" v-if="currentMode === 'chat'">
        <!-- chat/group selection -->
        <div id="chatSelectSurface" class="surface">
          <button class="chatTo" v-for="chat in clientChats" v-on:click="switchChat(chat.chatID)">
            <!-- <div class="profilePicture"></div> -->
            <div class="info">
              <h4 class="chatName">
                {{ chat.getChatName() }}
              </h4>
              <div class="lastMessage" class="sendtBy_You">
                {{ chat.getLastMessageText() }}
              </div>
            </div>
          </button>
          <!-- add a new chat -->
          <button class="primary_button" v-on:click="changeMode('createChat')">add chat</button>
        </div>


        <!-- the in Chat Surface with messages -->
        <div id="inChatSurface" class="surface" v-if="currentChat.chatID !== 0">
          <div id="chatHistory" v-if="currentChat.history.length > 0">
            <!-- creation of the messages -->
            <div class="message" v-for="message in currentChat.history" v-bind:class=message.getSenderClass()>
              <div class="sender" v-if="">{{ message.getSenderName() }}</div>
              <div class="content">{{ message.getContent() }}</div>
              <div class="time">{{ message.getTimeToDisplay() }}</div>
            </div>
          </div>
          <div id="chatHistoryEmpty" v-else>
            <h3 class="heading">There are no messages Yet</h3>
          </div>
          <div id="chatInput" v-if="currentChat.chatType !== ''">
            <input type="text" id="textMessage_TextInput" v-model="newMessageText" v-on:keyup.enter="sendMessage" placeholder="Enter message...">
            <button id="sendMessage_Button" v-on:click="sendMessage()">
              <svg height="24px" viewBox="0 0 24 24" width="24px" class="icons"><path d="M0 0h24v24H0z" fill="none"/><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/></svg>
            </button>
          </div>
        </div>

        <div id="inChatSurfacePlaceholder" class="surface" v-else>
            <h2>Enter a chat!!</h2>
        </div>

      </div>

      <!-- create a new groupChat -->
      <div class="screen" v-if="currentMode === 'createGroupChat'">
        <svg v-on:click="exitChatCreation()" class="escapeIcon" height="24px" viewBox="0 0 24 24" width="24px" fill="#E8E8E8"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
        <h2 class="heading">Create a new GroupChat!</h2>
        <div class="inputs">
          <div class="tabMenu">
            <div class="notActive" v-on:click="changeMode('createChat')">pToPChat</div>
            <div class="active">groupChat</div>
          </div>
          <label>
            GroupName:
            <input type="text" v-model="newGroupChat.name" placeholder="Enter ChatName..."/>
            <span class="errMsg" v-if="newGroupChat.nameErr !== ''">{{ newGroupChat.nameErr }}</span>
          </label>
          <label>
            UserNames:
            <input type="text" v-model="newGroupChat.userNames" v-on:keyup.enter="requestChatGeneration('pToPChat')" placeholder="User1, User2, ..."/>
            <span class="errMsg" v-if="newGroupChat.userNamesErr !== ''">{{ newGroupChat.userNamesErr }}</span>
          </label>
          <div id="newChatParticipants">
            <div v-for="user in newGroupChat.users">
              {{ user.userName }}
            </div>
          </div>
          <button v-on:click="requestChatGeneration('groupChat')">create chat</button>
        </div>
      </div>

      <!-- create a new PtoPChat -->
      <div class="screen" v-if="currentMode === 'createChat'">
        <svg v-on:click="exitChatCreation()" class="escapeIcon" height="24px" viewBox="0 0 24 24" width="24px" fill="#E8E8E8"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
        <h2 class="heading">Create a new Chat!</h2>
        <!-- Chat-Type selection -->
        <div class="inputs">
          <div class="tabMenu">
            <div class="active">pToPChat</div>
            <div class="notActive" v-on:click="changeMode('createGroupChat')">groupChat</div>
          </div>
          <label>
            UserName:
            <input type="text" v-model="newChat.userName" v-on:keyup.enter="requestChatGeneration('pToPChat')" placeholder="Enter UserName..."/>
            <span class="errMsg" v-if="newChat.userNameErr !== ''">{{ newChat.userNameErr }}</span>
          </label>
          <button v-on:click="requestChatGeneration('pToPChat')">create chat</button>
        </div>
      </div>
      
    </div>
    <script src=./javaScripts/classes.js></script>
    <script src="https://cdn.socket.io/4.3.0/socket.io.js"></script>
    <script src=./javaScripts/vue.js></script>
    <script src=./javaScripts/socket.js></script>
  </body>
</html>
