<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="./styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>
    <div id="chat">
      <!-- chat/group selection -->
      <div id="chatSelectSurface" class="surface">
        <button :id="chat.chatID" class="chatTo" v-for="chat in clientChats" v-on:click="switchChat(chat.chatID)">
          <h4 class="chatName"> 
            {{ chat.getChatName() }}
          </h4>
          <div class="lastMessage" class="sendtBy_You">
            {{ chat.getLastMessageText() }}
          </div>
        </button>
      </div>


      <!-- single person Chat -->
      <!-- will get filled with old messages, username etc. when a chat gets selected -->
      <div id="inChatSurface" class="surface">
        <div id="chatHistory">
          <div v-for="message in chatHistory" v-bind:class=message.getSender()>
            <span class="sender">{{ message.getSenderName() }}</span>
            <span class="content">{{ message.getContent() }}</span>
          </div>
        </div>
        <div id="chatInput">
          <input type="text" id="textMessage_TextInput" v-model="newMessageText" placeholder="Enter message...">
          <button id="sendMessage_Button" v-on:click="addMessageToHistory()">send</button>
        </div>
      </div>

      <!-- settings -->
      <div id="settingsSurface" class="surface" style="display: none;">
      </div>


      
      <!--  -->

    </div>
    <script src="javaScripts/classes.js"></script>
    <script src="javaScripts/testData.js"></script>
    <script src="javaScripts/script.js"></script>
    <script src="https://cdn.socket.io/4.3.0/socket.io.js"></script>
    <script>
      // Connction to the WebSocket-Server:
      let socket = io("http://127.0.0.1:80");
      // temporary hold of the clients userID
      let clientUserID = 01;

      // will emit a request for the profile of the current client
      function requestOwnProfile() {
        socket.emit("clientRequestingOwnProfile", clientUserID);
      }
      // and listen for the incoming response
      socket.on(`serverReturningClientsProfile${clientUserID}`, (profile) => {
        clientProfile = profile;
      });

      // will send a request for all the chats the current user participates in
      function requestChats() {
        socket.emit("requestingChats", clientUserID);
      }
      // will listen to the requestedChats for a specific UserID
      socket.on(`requestedChatsForUser${clientUserID}`, (chats) => {
        clientChats = chats;
      });


      
      
      // setup the data
      requestOwnProfile();
      requestChats();

      let chatApp = new Vue({
        el: "#chat",
        data: {
          // the own Profile of the client
          clientProfile: {},
          // the chats this user participates in
          clientChats: [],


          
          currentChatID: 0,
          newMessageText: "",

          chatHistory: "",
        },
        methods: {
          switchChat: function (thisChatID) {
            this.chatHistory = this.clientChats.find(chat => chat.chatID === thisChatID).getHistory();
            this.currentChatID = thisChatID;
          },
          addMessageToHistory: function () {
            this.clientChats.find(chat => chat.chatID === this.currentChatID).addToHistory(new TextMessage(loggedInProfileID, this.newMessageText));
            this.newMessageText = "";
          }
        }
      });
    </script>
  </body>
</html>
