<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="./styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>
    <div id="loginScreen">
      <h3>Log in!</h3>
      <input type="text" id="logIn_userName" v-model="" placeholder="Enter Username..."/>
      <input type="text" id="logIn_password" v-model="" placeholder="Enter Password..."/>
      <button id="submitLogin_Button" v-on:click="submitLogin()">Enter</button>
    </div>
    <div id="chat">
      <!-- chat/group selection -->
      <div id="chatSelectSurface" class="surface">
        <button :id="chat.chatID" class="chatTo" v-for="chat in clientChats" v-on:click="switchChat(chat.chatID)">
          <h4 class="chatName"> 
            {{ chat.getChatName() }}
          </h4>
          <div class="lastMessage" class="sendtBy_You">
            {{ chat.getLastMessageText() }}
          </div>
        </button>
      </div>


      <!-- single person Chat -->
      <!-- will get filled with old messages, username etc. when a chat gets selected -->
      <div id="inChatSurface" class="surface">
        <div id="chatHistory">
          <div v-for="message in chatHistory" v-bind:class=message.getSenderClass()>
            <span class="sender">{{ message.getSenderName() }}</span>
            <span class="content">{{ message.getContent() }}</span>
          </div>
        </div>
        <div id="chatInput">
          <input type="text" id="textMessage_TextInput" v-model="newMessageText" placeholder="Enter message...">
          <button id="sendMessage_Button" v-on:click="sendMessage()">send</button>
        </div>
      </div>

      <!-- settings -->
      <div id="settingsSurface" class="surface" style="display: none;">
      </div>


      
      <!--  -->

    </div>
    <script src=./javaScripts/classes.js></script>
    <script src="https://cdn.socket.io/4.3.0/socket.io.js"></script>
    <script src=./javaScripts/vue.js></script>
    <script src=./javaScripts/socket.js></script>
  </body>
</html>
