/* https://codepen.io/sdthornton/pen/wBZdXq */
* {
  font-family: sans-serif;
  height: 100%;
}
body {
  background-color: #262626;
  color: #E8E8E8;
  margin: 0px;
  height: 100%;
}

input {
  padding: 4px;
  background-color: #363636;
  color: #E8E8E8;
  border: none;
}

.primary_button {
  min-width: 100px;
  width: auto;
  height: 24px;
  background: #E8E8E8;
  color: #181818;
  border: 0;
}


#header {
  background: #383838;
  margin: 0px;
  height: 60px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  div {
    display: flex;
    align-items: center;
  }

  .left {
    width: 200px;
  }
  .center {
    font-size: 20px;
    width: auto;
  }
  .right {
    box-sizing: border-box;
    width: 200px;
    text-align: end;
    padding: 20px;
  }
}


#chat {

  display: flex;
  position: absolute;
  top: 60px;
  bottom: 0px;
  height: auto;
  width: 100%;
  box-sizing: border-box;

  #chatSelectSurface {
    z-index: 100;
    border-right: solid 1px #E8E8E8;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
    padding: 0px;
    
    .chatTo {
      width: 300px;
      height: 100px;
      display: flex;
      background: #262626;
      color: #E8E8E8;
      border: none;
      border-bottom: 1px solid #181818;
      &:hover {
        
        background-color: #383838;
      }
      div {
        height: fit-content;
      }
    }
    .profilePicture {
      width: 72px;
      height: 10px;
      background: #383838;
    }
    .info {
      text-align: start;
    }
  }
  
  #inChatSurface {
    box-sizing: border-box;
    width: auto;
    height: 100%;
    .message {
      height: fit-content;
    }
    #chatHistoryEmpty {
      height: max-content;
    }
    #chatHistory {
      padding: 24px;
      position: absolute;
      box-sizing: border-box;
      top: 0;
      right: 0;
      left: 300px;
      bottom: 61px;
      height: auto;
      width: auto;
      overflow-y: auto;
      
      div {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        
        div {
          padding-bottom: 0px;
        }
        .sender {
          font-weight: bold;
        }
        .content {
          font-size: 17px;
        }
        .time {
          font-size: 10px;
        }
      }
      .sendtBy_You div {
        align-self: flex-end;
      }
    }
    #chatInput {
      padding: 16px 24px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 300px;
      width: auto;
      height: fit-content;
      background: #383838;

      display: flex;
      align-items: center;
      
      #textMessage_TextInput {
        margin-right: 16px;
        font-size: large;

        width: 100%;
        background-color: #262626;
        border-radius: 4px;
      }
      
      #sendMessage_Button {
        padding: 0;
        border: 0;
        width: 24px;
        background-color: #383838;
        
        .icons {
          fill: #E8E8E8;
        }
      }
    }
  }
}

.screen {
  margin: 60px 5% 0% 5%;
  height: fit-content;

  .heading {
    text-align: center;
  }
  .inputs {
    width: 200px;
    display: flex;
    flex-direction: column;
    
    input {
      width: 200px;
      margin: 10px 0 10px 0;
      left: 100px;
      height: fit-content;
      border-bottom: 1px solid #E8E8E8;
    }
    label {
      margin: 25px 0;
    }
    .errMsg {
      color: #a11d1d;
    }
  }
}

.surface {
  height: max-content;
  display: flex;
  flex-direction: column;
}

h4.userName {
  margin-bottom: 0px;
}





.tabMenu {
  display: flex;
  flex-direction: row;

  div {
    margin: 8px auto;
    width: auto;
    text-align: center;
  }
  .active {
    border-bottom: solid 1px #E8E8E8;
  }
  .notActive {
    opacity: 50%;
  }
}
