/* https://codepen.io/sdthornton/pen/wBZdXq */
* {
  background-color: #262626;
  color: #E8E8E8;
  font-family: sans-serif;
  height: 100%;
}
body {
  margin: 0px;
  height: 100%;
}

#header {
  background: #181818;
  margin: 0px;
  height: 60px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header div {
  background: #181818;
  display: flex;
  align-items: center;
}
#header .left {
  width: 200px;
}
#header .center {
  font-size: 20px;
  width: auto;
}
#header .right {
  box-sizing: border-box;
  width: 200px;
  text-align: end;
  padding: 20px
}

#chat {
  display: flex;
}

.screen {
  margin: 60px 5% 0% 5%;
  height: fit-content;
}

.screen .heading {
  text-align: center;
  height: fit-content;
}

.screen .inputs {
  width: 200px;
  display: flex;
  flex-direction: column;
}
.screen .inputs input {
  width: 200px;
  margin: 10px 0 10px 0;
  left: 100px
}
.screen .inputs label {
  margin: 25px 0;
}


.surface {
  padding: 24px;
  display: flex;
  flex-direction: column;
}


#chatSelectSurface {
  background: #262626;
  height: 100%;
  width: auto;
  padding: 0px;
}
#chatSelectSurface .chatTo {
  width: 300px;
  height: 100px;
  display: flex;
  border: 0;
}
#chatSelectSurface .chatTo div {
  height: fit-content;
}
#chatSelectSurface .profilePicture  {
  width: 72px;
}
#chatSelectSurface .info {
  text-align: start;
}


#inChatSurface {
  width: 100%;
}
#inChatSurface .message {
  height: fit-content;
}
h4.userName {
  margin-bottom: 0px;
}



#chatHistory div {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
#chatHistory div div {
  padding-bottom: 0px;
}
#chatHistory div .sender {
  font-weight: bold;
}
#chatHistory div .content {
  font-size: 17px;
}
#chatHistory div .time {
  font-size: 10px;
}
#chatHistory .sendtBy_You div {
  align-self: flex-end;
}

.textMessage {
  color: #E8E8E8;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
}



button {
  min-width: 100px;
  width: auto;
}

.tabMenu {
  display: flex;
  flex-direction: row;
}

.tabMenu div {
  margin: 8px auto;
  border-bottom: solid 1px #E8E8E8;
  width: auto;
  text-align: center;
}
